apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: fbf83b9aacb5fb38636463c9159a83ae9c0c745c
  BACKEND_IMAGE: "pipelinedave/choremane-backend:fbf83b9aacb5fb38636463c9159a83ae9c0c745c"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:fbf83b9aacb5fb38636463c9159a83ae9c0c745c"
