apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: c3f7417d583b5e2fa41253a67d8adc6ca783c58e
  BACKEND_IMAGE: "pipelinedave/choremane-backend:c3f7417d583b5e2fa41253a67d8adc6ca783c58e"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:c3f7417d583b5e2fa41253a67d8adc6ca783c58e"
