apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: ac04f5e3c3fe7cc7cc8d328a19363af591f8886e
  BACKEND_IMAGE: "pipelinedave/choremane-backend:ac04f5e3c3fe7cc7cc8d328a19363af591f8886e"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:ac04f5e3c3fe7cc7cc8d328a19363af591f8886e"
