apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: f8a6bff74b11f3c42838e37dbfcaaccfd9af1d6c
  BACKEND_IMAGE: "pipelinedave/choremane-backend:f8a6bff74b11f3c42838e37dbfcaaccfd9af1d6c"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:f8a6bff74b11f3c42838e37dbfcaaccfd9af1d6c"
