apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: e090305e743849ed7bf8473fb614294ea8308be2
  BACKEND_IMAGE: "pipelinedave/choremane-backend:e090305e743849ed7bf8473fb614294ea8308be2"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:e090305e743849ed7bf8473fb614294ea8308be2"
