apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: 029f45d6ed3aa0ad2d3b08ea14364f8af87ee3d6
  BACKEND_IMAGE: "pipelinedave/choremane-backend:029f45d6ed3aa0ad2d3b08ea14364f8af87ee3d6"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:029f45d6ed3aa0ad2d3b08ea14364f8af87ee3d6"
