apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: fbd296af10aec34c928a26726daac4732a1bd62b
  BACKEND_IMAGE: "pipelinedave/choremane-backend:fbd296af10aec34c928a26726daac4732a1bd62b"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:fbd296af10aec34c928a26726daac4732a1bd62b"
