apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: ce29dc41538d78d82dd0cc3901b6e06e143b9e2d
  BACKEND_IMAGE: "pipelinedave/choremane-backend:ce29dc41538d78d82dd0cc3901b6e06e143b9e2d"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:ce29dc41538d78d82dd0cc3901b6e06e143b9e2d"
