apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: 2b52045dbf7879fe40513147402cea24beacc5bb
  BACKEND_IMAGE: "pipelinedave/choremane-backend:2b52045dbf7879fe40513147402cea24beacc5bb"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:2b52045dbf7879fe40513147402cea24beacc5bb"
