apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: 551d2361935a16093234cc92fee6100c9c397490
  BACKEND_IMAGE: "pipelinedave/choremane-backend:551d2361935a16093234cc92fee6100c9c397490"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:551d2361935a16093234cc92fee6100c9c397490"
