apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: ed190cf96be923fa0a2199a7ef9d77d063825995
  BACKEND_IMAGE: "pipelinedave/choremane-backend:ed190cf96be923fa0a2199a7ef9d77d063825995"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:ed190cf96be923fa0a2199a7ef9d77d063825995"
