apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: bbb39e2782b53faca62ec298c3f0932c3d0a6f69
  BACKEND_IMAGE: "pipelinedave/choremane-backend:bbb39e2782b53faca62ec298c3f0932c3d0a6f69"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:bbb39e2782b53faca62ec298c3f0932c3d0a6f69"
