apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: 55f251422e7a11d6348aeed18fdef26969f87123
  BACKEND_IMAGE: "pipelinedave/choremane-backend:55f251422e7a11d6348aeed18fdef26969f87123"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:55f251422e7a11d6348aeed18fdef26969f87123"
