apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: 324f1635eb0fc99972e2e141654d6ee343850da7
  BACKEND_IMAGE: "pipelinedave/choremane-backend:324f1635eb0fc99972e2e141654d6ee343850da7"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:324f1635eb0fc99972e2e141654d6ee343850da7"
