apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: 7d4d9f14a01870c36c57a280f76247e4116cde89
  BACKEND_IMAGE: "pipelinedave/choremane-backend:7d4d9f14a01870c36c57a280f76247e4116cde89"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:7d4d9f14a01870c36c57a280f76247e4116cde89"
