apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: 14c565b82f26dbaa6bb23cd616af5331b6f826ea
  BACKEND_IMAGE: "pipelinedave/choremane-backend:14c565b82f26dbaa6bb23cd616af5331b6f826ea"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:14c565b82f26dbaa6bb23cd616af5331b6f826ea"
