apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: 81c10803da78cf320054078a140894e80c84941e
  BACKEND_IMAGE: "pipelinedave/choremane-backend:81c10803da78cf320054078a140894e80c84941e"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:81c10803da78cf320054078a140894e80c84941e"
