apiVersion: v1
kind: ConfigMap
metadata:
  name: choremane-version
data:
  VERSION_TAG: prod-test-16
  BACKEND_IMAGE: "pipelinedave/choremane-backend:prod-test-16"
  FRONTEND_IMAGE: "pipelinedave/choremane-frontend:prod-test-14"
